{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <img src="home.jpg" alt="home">

    <div class="card border-warning mx-auto w-auto" style="max-width: 20rem;">
        <div class="card-header"><p>Login</p></div>
        <div class="card-body">
            <form action="/login" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
{% endblock %}
