{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- disclaimer -->
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="mb-0">Disclaimer: Data shown is not real. I used test data, courtesy of IEX cloud</p>
    </div>

    <div class="card border-warning mx-auto w-auto" style="max-width: 20rem;">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form action="/register" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
